:root {
    /* Primary */
    --clr-primary-gradient: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --clr-primary-red: hsl(0, 100%, 66%);

    /* Neutral */
    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-neutral-grayish-violet-100: hsl(270, 3%, 87%);
    --clr-neutral-grayish-violet-600: hsl(279, 6%, 55%);
    --clr-neutral-dark-violet: hsl(278, 68%, 11%);

    --ff-primary: 'Space Grotesk', sans-serif;
    --fs-base: 1.125rem;
    --fw-regular: 500;
}

body {
    min-height: 100vh;
    background-color: var(--clr-neutral-white);
    font-family: var(--ff-primary);
    font-size: var(--fs-base);
    font-weight: var(--fw-regular);
    display: grid;
    place-content: center;
}

main {
    min-height: 100vh;
}

@media (min-width: 650px) {
    main {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 2fr;
    }
}

.card-wrapper {
    position: relative;
    color: var(--clr-neutral-white);
}

.bg-img {
    width: 100vw;
}

.card-front, .card-back {
    width: 18rem;
    height: 10rem;
    position: absolute;
    background-image: url(images/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
}

.card-front {
    background-image: url(images/bg-card-front.png);
    padding: 1rem 1.25rem;
    bottom: -18%;
    left: 4%;
    z-index: 1;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: end;
    gap: 1rem;
}

.card-back {
    top: 14%;
    right: 4%;
}

.card-logo {
    width: 3.5rem;
}

.cc-info {
    display: flex;
    justify-content: space-between;
}

.cc-number {
    font-size: 1.15rem;
    letter-spacing: 2px;
}

.cc-info-text {
    text-transform: uppercase;
    font-size: 0.55rem;
    letter-spacing: 1px;
}

.cc-cvc {
    position: absolute;
    right: 13%;
    top: 45.5%;
}

@media (min-width: 650px) {
    picture, .bg-img {
        height: 100%;
    }

    .card-front, .card-back {
        width: 28rem;
        height: 15.5rem;
    }
    
    .card-front {
        padding: 1.6rem 2rem;
        left: unset;
        top: 21%;
        right: -27%;
    }
    
    .card-back {
        top: unset;
        bottom: 23%;
        right: -46%;
    }

    .card-logo {
        width: 5rem;
    }

    .cc-number {
        font-size: 1.7rem;
        letter-spacing: 4px;
    }

    .cc-info-text {
        font-size: 0.8rem;
        letter-spacing: 2px;
    }
}

.cc-form {
    display: flex;
    flex-direction: column;
    color: var(--clr-neutral-dark-violet);
    padding: 5rem 1.5rem 1.5rem 1.5rem;
    font-size: 0.75rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    gap: 1rem;
}

.flex-group {
    display: flex;
    flex-direction: column;
}

.cc-form input {
    padding: 0.8rem;
    border: 1px solid var(--clr-neutral-grayish-violet-100);
    border-radius: 0.5rem;
}

.cc-form input::placeholder {
    font-size: 1.1rem;
    color: var(--clr-neutral-grayish-violet-600);
}

.card-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
}

.date-input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.confirm-btn {
    background-color: var(--clr-neutral-dark-violet);
    color: var(--clr-neutral-white);
    font-size: 1.1rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem;
    margin-top: 0.7rem;
}

@media (min-width: 650px) {
    .cc-form {
        width: 27rem;
        margin-left: 7rem;
    }

    .cc-form label {
        margin-bottom: 0.5rem; 
    }

    .confirm-btn {
        margin-top: 1.5rem;
    }
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}